
<!-- save point !! -->
<header class="masthead fade-in-B border-top border-bottom border-light ">

                <div class="mastheadB border-bottom border-light">

                                                <div class="mastheadC border-bottom border-light">

                                                  <div class="container h-100" id="Cstuff">
                                                    <div class="row h-100 align-items-center">

                                                      <div class="col-lg-12 ">

                                                        <div class="text-center rounded clickable" id="cardTextThree">
                                                          <h5 class="subtext rounded fs-2 carouselBG m-2">As a modern musician Electric Trojan can produce soaring trailer music, delicate ambience and foley sounds which are carefully woven
                                                          into digital worlds as loops, sound effects and cues.
                                                          </h5>
                                                          <span class="fs-1"> . . </span> <span class="text-light fs-1">. </span>
                                                        </div>

                                                      </div>
                                                    </div>
                                                  </div>

                                                </div>

                  <div class="container h-100" id="Bstuff">

                    <div class="row h-100 align-items-center">

                      <div class="col-lg-12 ">

                          <div class="text-center rounded clickable" id="cardTextTwo">
                            <h5 class="subtext rounded carouselBG fs-2 m-2">He is as much at home with programming synthesisers as he is writing orchestral scores with a pen and paper. In today's world the ability to read and write music scores is becoming a rare skill.
                            </h5>

                            <span class="fs-1"> . </span> <span class="text-light fs-1 p-1"> . </span> <span class="fs-1"> .</span>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>

      <div class="container h-100" id="Astuff" >

        <div class="row h-100 align-items-center" >

          <div class="col-lg-12 ">

              <div class="text-center rounded clickable" id="cardTextOne">

                <h5 class="subtext rounded carouselBG fs-2 m-2">Electric Trojan is a classically trained multi-instrumentalist 
                since 2008 and has written music for clients all over the world.
                </h5>
                <span class="text-light fs-1"> . </span> <span class="fs-1">. .</span>
              </div>

          </div>

          </div>
        </div>
    </div>

</header>

<script   src="https://code.jquery.com/jquery-3.7.0.min.js"   integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="   crossorigin="anonymous"></script>
<script src="~/js/aboutPage2.js" asp-append-version="true"></script>
