
@model ContactForm
@{
    ViewData["Title"] = "Contact Form";
}

<div class="container text-coolwhite">
    <div class="row bg-darkCard rounded p-2">
        <div class="col-md-6">
            <p class="fs-3">Contact</p>
            <p class="subtext">Send a message.</p>
            @if(TempData["Alert"] is not null)
            {
                <p class="text-success fs-3">Message Sent!</p>
            }
        </div>
        <div class="col-md-6">
            <div class="text-left p-2">
                <form method="POST">
                    <div class="form-group">
                        <label asp-for="userEmailSubmission" class="py-1">
                            Your email: <br>
                        </label>
                        <input asp-for="userEmailSubmission" name="userEmailSubmission" value="" 
                            class="form-control"/>
                    </div>
                    
                    <br>
                    <div class="form-group">
                        <label class="py-1 ">
                            Your message:<br>
                        </label>
                        <textarea required class="form-control" rows="6" placeholder="To Electric Trojan..." 
                        asp-for="userMessageSubmission"></textarea>
                    </div>
                    <br>
                    <label class="py-1 ">
                        I consent for my data to be stored for the purposes of communication and agree to the privacy policy:<br>
                    </label>
                    <div class="form-check">
                    <input class="form-check-input" asp-for="Consent" type="radio" name="Consent" value="true" >
                    <label class="form-check-label" asp-for="Consent">
                        Yes
                    </label>
                    </div>

                    <br>
                    <!-- your other form fields go here -->
                    <input type="submit" value="Send" class="nav-link btn-ET text-white subtext-button "/>
                    <br>
                    <span asp-validation-for="userEmailSubmission" class="text-danger"></span>
                    <span asp-validation-for="userMessageSubmission" class="text-danger"></span>
                    <span asp-validation-for="Consent" class="text-danger"></span>
                </form>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>

    <div class="row bg-darkCard rounded p-2">
        <div class="col-lg-6">
            <p class="fs-3">Links & Alternative Contact Methods</p>
            <div class="subtext">Alternative means to learn more and make contact.</div>
        </div>
        
            <div class="col-lg-6 p-2">
                <div class="mb-4">
                    <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='https://www.youtube.com/channel/UCogi_hxOgUH1I3X1KAmpQpw';" >
                    <i class="bi bi-youtube"> </i>&nbsp Videos</button>
                </div>
                <div class="mb-4">
                    <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='http://discordapp.com/users/345466150613680140';" >
                    <i class="bi bi-discord"> </i>&nbsp Discord</button>
                </div>
                <div class="mb-2">
                    <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='https://soundcloud.com/matthias-borgias';" >
                    <i class="bi bi-music-note-beamed"> </i>&nbsp Soundcloud</button>
                </div>
            </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
