<div class="container text-coolwhite">
    <div class="row bg-darkCard rounded p-2">
        <div class="col-md-6">
            <p class="fs-3">Contact</p>
            <p>Contact form currently closed, please try again later.</p>
        </div>
    </div>
</div>
<br>
<div class="container text-coolwhite">

    <div class="row bg-darkCard rounded p-2">
            <div class="col-lg-6">
                <p class="fs-3">Links & Alternative Contact Methods</p>
                <div class="subtext">Alternative means to learn more and make contact.</div>
            </div>
        
        <div class="col-lg-6 p-2">
            <div class="mb-4">
                <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='https://www.youtube.com/channel/UCogi_hxOgUH1I3X1KAmpQpw';" >
                <i class="bi bi-youtube"> </i>&nbsp Videos</button>
            </div>
            <div class="mb-4">
                <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='http://discordapp.com/users/345466150613680140';" >
                <i class="bi bi-discord"> </i>&nbsp Discord</button>
            </div>
            <div class="mb-2">
                <button class="nav-link btn-ET text-white subtext-button " type="button" onclick="window.location.href='https://soundcloud.com/matthias-borgias';" >
                <i class="bi bi-music-note-beamed"> </i>&nbsp Soundcloud</button>
            </div>
        </div>
    </div>
</div>