@{
    ViewData["Title"] = "Privacy Policy";

}


<div class="container text-coolwhite">

<h1>@ViewData["Title"]</h1>

<p>This site uses cookies to enable the user experience.</p>
<p>Your data is not commercialised or shared with anyone other than the administrator of the website.</p>
</div>
