@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="container text-coolwhite">
        <h1 class="">@ViewData["Title"]</h1>
        <p class="">Please contact the administrator if you believe there is a mistake.</p>
    </div>
</header>
