<div class="container text-coolwhite bg-pink">
  <div class="text-center">
      <h1 class="display-4">Ajax Controller Experiments</h1>
      <p class="subtext">Experimental</p>
  </div>

  <div>
    <h4 class="fs-4">Click Me. </h4>
    <p id="randomBox"></p>
    <button type="button" class="btn btn-success">Click</button>
</div>

<script   src="https://code.jquery.com/jquery-3.7.0.min.js"   integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="   crossorigin="anonymous"></script>
<script src="~/js/attemptedAjax.js" asp-append-version="true"></script>