<div class="container text-coolwhite">


    <div class="row bg-darkCard rounded p-2">
        <div class="col-md-6">
            <div class="text-left">
                <h1 class="fs-1">Ajax Controller Experiments</h1>
                <p class="subtext">Music Player experiment.</p>
            </div>
        </div>

        <div class="col-md-6 bg-black border-dark rounded text-center">

            <div class=fs-4>About</div>
            <br>
            <h1 class="fs-3">Lo-Tech Music Player 1</h1>
            <img src="~/images/ET01 - light background bevelled.png" width="200" class="img-fluid align-top border rounded-circle my-3" alt="">
            <br>

            <div class="controller">
                <div class="songs">
                    <div class="fs-4 my-4" id="songTitle">Song Title</div>
                    <div class="my-5">
                        <div class="controls">
                            <audio id="audio" src=""></audio>
                            <div class="feature-MP bg-button-blueMP bg-gradient text-white rounded-circle rounded-3 mb-3" id="backward"><i class="bi bi-skip-backward-fill"></i></div>
                            &nbsp&nbsp&nbsp&nbsp
                            <div class="feature-MP bg-button-blueMP bg-gradient text-white rounded-circle rounded-3 mb-3" id="play-stop"><i class="bi bi-play-fill"></i></div>
                            &nbsp&nbsp&nbsp&nbsp
                            <div class="feature-MP bg-button-blueMP bg-gradient text-white rounded-circle rounded-3 mb-3" id="forward"><i class="bi bi-skip-forward-fill"></i></div>
                        </div>
                    <!-- <i class="bi bi-play-fill"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>